<div class="row" id="proyectos">
    <h1>Proyectos</h1>

    <div class="col-lg-2">
        <button class="btn btn-dark" type="button" routerLink="/newproject" *ngIf="isLogged">
            Nuevo Proyecto
        </button>
    </div>
</div>

<div class="row">
    <div class="offset-lg-1 card col-lg-7" *ngFor="let Proyect of project">
        <div clas class="card--img">
            <img class="img-1 img-fluid" src={{Proyect.img}}>
            <p (click)="onNavigate(Proyect.link)" class="mt-1">Link al repositorio</p>
        </div>

        <div class="card--info">
            <div class="title">
                <h3>{{Proyect.nombre}}</h3>
            </div>

            <div class="text">
                <p>{{Proyect.descripcion}}</p>
            </div>

            <div class="card--info--btn" *ngIf="isLogged">
                <button class="btn btn-success" routerLink="/editproject/{{Proyect.id}}"><i class="bi bi-pencil-fill"></i> Editar</button>
                <button class="btn btn-danger" (click)="delete(Proyect.id)"><i class="bi bi-trash-fill"></i> Borrar</button>
            </div>
        </div>
    </div>
</div>


 


    

