<div class="row">
    <h1>Educación</h1>
    <div class="offset-lg-1 col-lg-11">
        <ul>
            <li>
                <h2>Estudio 1</h2>
                - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores eligendi veritatis, asperiores id architecto fugiat suscipit. Porro quo quasi accusamus quae est, similique cumque, sunt animi consectetur natus, magnam voluptates.</p>
        </ul>

        <ul>
            <li>
                <h2>Estudio 2</h2>
                - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores eligendi veritatis, asperiores id architecto fugiat suscipit. Porro quo quasi accusamus quae est, similique cumque, sunt animi consectetur natus, magnam voluptates.</p>
        </ul>

        <ul>
            <li>
                <h2>Estudio 3</h2>
                - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores eligendi veritatis, asperiores id architecto fugiat suscipit. Porro quo quasi accusamus quae est, similique cumque, sunt animi consectetur natus, magnam voluptates.</p>
        </ul>
    </div>
</div>