<footer class="footer-distributed">

  <div class="footer-right">

    <a href="" target="_blank"><i class="bi bi-facebook"></i></a>
    <a href="" target="_blank"><i class="bi bi-twitter"></i></a>
    <a href="" target="_blank"><i class="bi bi-instagram"></i></a>
    <a href="https://www.linkedin.com/in/joshua-jmelnitzky/" target="_blank"><i class="bi bi-linkedin"></i></a>
    <a href="https://github.com/JoshuaJmelnitzky/" target="_blank"><i class="bi bi-github"></i></a>

  </div>

  <div class="footer-left">

    <p class="footer-links">

      <a class="link-1" href="#top">Ir Arriba</a>

      <a href="#expLab">Esperiencia Laboral</a>

      <a href="#educacion">Educación</a>

      <a href="#skills">Hard & Soft Skills</a>

      <a href="#proyectos">Proyectos</a>
    </p>

    <p>Joshua Jmelnitzky &copy; 2022 | Argentina Programa</p>
  </div>

</footer>

