<div class="row">
    <form class="form" (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <h2>Nueva Experiencia Laboral</h2>
        <p type="Nombre:"><input placeholder="Nombre de la empresa" id="nombreE"  [(ngModel)]="nombreE" name="nombreE" required></p>
        <p type="Descripción:"><input placeholder="Descripción de la tarea"  id="descripcionE"  [(ngModel)]="descripcionE" name="descripcionE" required></p>
        <p type="Imagen:">
            <input placeholder="Imagen de la empresa" type="file"  id="imgE"  [(ngModel)]="imgE" name="imgE" required (change)="uploadImage($event)" accept=".jpg, .jpeg, .png, .webp">
        </p>

        <div class="imagen">
            <img [src]="imageService.url">
        </div>

        <button [disabled]="!imageService.url" class="btn btn-primary">Guardar</button>

        <button (click)="home()" class="btn btn-primary homeButton">Volver</button>
      
    </form>
</div>

