<div class="row">
  <div class="center">
    <h1>Login</h1>
    <form #f="ngForm" (ngSubmit) = "onLogin()" novalidate>
      <div class="txt_field">
        <input type="text" id="nombreUsuario" [(ngModel)]="nombreUsuario"  name="nombreUsuario"  required/>
        <span></span>
        <label>Nombre de usuario</label>
      </div>
  
      <div class="txt_field">
        <input type="password" id="password" [(ngModel)]="password"  name="password" required/>
        <span></span>
        <label>Contraseña</label>
      </div>

      <input type="submit" value="Login">
      <div class="signup_link">
        No estás registado? <a href="#">Registrarse</a>
      </div>
    </form>
  </div>
</div>

