<div class="row">
    <form class="form" (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <h2>Nueva Habilidad</h2>
        <p type="Habilidad:"><input placeholder="Nombre de la habilidad" id="nombreE"  [(ngModel)]="nombre" name="nombreE" required></p>
        <p type="Porcentaje:"><input  type="number"  id="porcentaje"  min="1" max="100" placeholder="Porcentaje del conocimiento"  id="descripcionE"  [(ngModel)]="porcentaje" name="descripcionE" required></p>
        <p type="Imagen:">
            <input placeholder="Logo de la habilidad" type="file"  id="imgE"  [(ngModel)]="img" name="imgE" required (change)="uploadImage($event)" accept=".jpg, .jpeg, .png, .webp">
        </p>

        <div class="imagen">
            <img [src]="imageService.url">
        </div>

        <button [disabled]="!imageService.url" class="btn btn-primary">Guardar</button>

        <button (click)="home()" class="btn btn-primary homeButton">Volver</button>
      
    </form>
</div>

