<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../assets/html_logo.png'"
            [showImage]="true"
            [imageHeight]="75"
            [imageWidth]="75"
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../assets/html_logo.png'"
            [showImage]="true"
            [imageHeight]="75"
            [imageWidth]="75"
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../assets/html_logo.png'"
            [showImage]="true"
            [imageHeight]="75"
            [imageWidth]="75"
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../assets/html_logo.png'"
            [showImage]="true"
            [imageHeight]="75"
            [imageWidth]="75"
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../assets/html_logo.png'"
            [showImage]="true"
            [imageHeight]="75"
            [imageWidth]="75"
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../assets/html_logo.png'"
            [showImage]="true"
            [imageHeight]="75"
            [imageWidth]="75"
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>
</div>
