<div class="row" id="skills">
    <h1>Hard & Soft skills</h1>
    <div class="col-lg-2">
        <button type="button" routerLink="/newskill" class="btn btn-dark" *ngIf="isLogged">Nueva habilidad</button>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill">
        <circle-progress
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="(skill.img)"
            [title]="(skill.nombre)"
            [showImage]="true"
            [showTitle]="false"
            [imageHeight]="75"
            [imageWidth]="75"
            [percent]="(skill.porcentaje)"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>

        <span class="skill-text"> 
            <h5>{{skill.nombre}} {{skill.porcentaje}}%</h5>
        </span>

        <div class="card--info--btn" *ngIf="isLogged">
            <button class="btn btn-success" routerLink="/editskill/{{skill.id}}"><i class="bi bi-pencil-fill"></i> Editar</button>
            <button class="btn btn-danger" (click)="delete(skill.id)"><i class="bi bi-trash-fill"></i> Borrar</button>
        </div>
    </div>
</div>
