.row{
    background-color: #a1b5cb;
    padding: 20px;
}


.row div{
    text-align: center;
}


.circulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card--info--btn button{
    margin: 0 5px;
}