.row{
    padding: 20px;
    margin: 0px;
    background-color: #a1b1cb;
    text-align: center  ;
}

.acercaDe--row div button{
    position: relative;
    bottom: 225px;
}


.acercaDe--row div img{
    height: 280px;
}

@media (min-width: 576px){
    .acercaDe--row div img{
        left: 20px;
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        top: 550px;
    }
}


@media (max-width: 575px){
    .acercaDe--row div img{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        width: calc(100vw - 55%);
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        top: 615px;
        left: 0;
        right: 0;
        text-align: center;
    }


    .acercaDe--nombre{
        margin-top: 50px !important;
    }
}


.acercaDe--nombre{
    font-weight: bold;
    margin-top: 7vw;
}   


.acercaDe--persona{
    position: relative;
    bottom: 220px;
    right: 10px;
    background-color: transparent;
}

.acercaDe--descipcion p{
    text-align: justify;
    margin-top: 20px;
}