<div class="row acercaDe--row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img class="img-fluid" src="../../../assets/man-avatar-image-for-profile-png.webp" alt="">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p class="nombre">Joshua Jmelnitzky</p>
        <p>Full Stack Developer Jr</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quibusdam molestias perferendis, rerum eaque quis maxime voluptates saepe accusamus ipsum optio eius cum? Consequatur delectus, quod est quam mollitia magnam!     </p>
        </span>
    </div>
</div>

